{% extends 'base.html.twig' %}

{% block title %}New Craftsman
{% endblock %}

{% block body %}
	<div class="container-fluid my-3">
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header d-flex justify-content-between">
						<h5>Add craftsman</h5>
						<div>
							<a href="{{ path('app_craftsman_index') }}" class="btn btn-outline-secondary">Cancel</a>
							<a href="{{ path('app_craftsman_new') }}" class="btn btn-primary" id="save">Add</a>
						</div>
					</div>
					<div class="card-body">
						{{ include('craftsman/_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
